.cache
*.hi
*.o
/01-inverse-captcha
/03-spiral-memory
/05-a-maze-of-twisty-trampolines
/09-stream-processing
/13-packet-scanners
/13-packet-scanners-redux
*.prof
/14-disk-defragmentation
/15-dueling-generators
/10-knot-hash
/17-spinlock
/spinlock.so
/18-duet
